<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | oauthen2-google</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Login google", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "List users", users_path %></li>
            <% if account_signed_in? %>
              <li><%= link_to "admin", "#" %></li>
              <li><%= link_to "Log out", destroy_account_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", new_account_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
